.history{
    font-size: 18px;
    padding: 20px 0;
    border-bottom: 1px solid var(--black);

    img{
        margin: 0 15px;
    }

    .historyAction{
        font-weight: 700;
        cursor: pointer;
    }
}

.compareDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;

    .comparePrd{
        flex: 1 1 30%;
        background: var(--bg1);
        text-align: center;

        .deleteBtnX{
            text-align: center;
            width: 30px; height: 30px; line-height: 30px;
            background: #555;
            color: var(--white);
            cursor: pointer;

            &:hover{
                background: var(--bg2);
            }
        }

        .bankLogo{
            width: 80px; height: 80px;
        }

        .compareTitle, .rate, .compareDetailTable{
            margin: 30px;
        }

        .compareTitle{
            text-align: left;

            .bankName, .prdName{
                line-height: 1.8em;
                display: block;
                margin-bottom: 10px;
            }
        }

        .rate{
            text-align: right;

            .spclRate, .basicRate{
                display: block;
                margin-bottom: 10px;
            }

            .spclRate{
                font-size: 18px; font-weight: 700;
                color: var(--red1);
            }
        }

        .compareDetailTable{
            text-align: left;

            tr td{
                height: 50px;

                &:nth-child(2){
                    color: var(--main2);
                }
            }
        }

        .btn{
            display: flex;
            justify-content: space-around;
            margin: 30px 0;
            
            .deleteBtn, .joinBtn{
                flex: 0 1 40%;
                padding: 8px 0;
                border: 0;
                cursor: pointer;
            }

            .deleteBtn{
                background: var(--bg2);

                &:hover{

                }
            }
            .joinBtn{
                background: var(--main2);
                color: var(--white);

                &:hover{
                    background: var(--main1);
                }
            }

        }
    }

    .noneComparePrd{
        display: flex;
        justify-content: center; /* 가로 중앙 정렬 */
        align-items: center; 

        .addComparePrd{
            width: 100px; height: 100px; line-height: 100px;
            border: 2px solid var(--bg2);; border-radius: 30px;
            font-size: 30px;
            cursor: pointer;

            &:hover{
                background: var(--bg2);
            }
        }
    }
}
