.spinner{
    display: flex !important;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0; bottom: 0;

    width: 100%; height: 100%;
    margin: 0 !important;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999 !important;
    
    .spinnerDiv{
        width: 300px; height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--white); border-radius: 15px;

        .spinnerSpan{
            display: flex;
            flex-direction: column;
            padding-right: 20px;
        }
    }
}

.my1v1InquireSection {
    padding-top: 70px;
    
    .inquireTypeDiv {
        font-size: 17px;
        padding-top:20px;
        margin: 20px 0;
        color: var(--font1);
        display: flex;
        align-items: center;
        gap: 5px;

        .inquireTypeItem {
            align-items: center;

            .rightArrowIcon {
                width: 14px;
                height: 10px;
            }

            &:nth-child(3) {
                font-weight: 600;
            }
        }
    }

    
   






    .userInquireBody {
        width: 100%;
        height: 80vh;
        padding: 0;
        margin: 0;
       
        
        .userInquireHeader {
            padding: 0 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 10px auto;
            max-width: 550px;

            .userInquireTitleArea {
                display: flex;
                width: 30%;
                min-width: 150px;
                height: 100%;
                align-items: center;

                .userInquireTitle {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    height: 50px;
                    width: 100%;
                }
            }

            .userInquireQuitArea {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 30%;
                height: 100%;


                .userInquireQuitBtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    width: 80%;
                    border-radius: 30px;
                    color: var(--white);
                    background-color: #BECCEA;
                    border-style: none;
                }
            }

        }

        .userInquireChat {
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 550px;
            height: 85%;
            margin: 0 auto;

            .phoneContainer {
                width: 100%; 
                height: 100%; 
                border-radius: 30px; 
                padding: 7px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border: 2px dashed transparent;
                transition: border-color 0.3s ease-in-out;

                .phoneContainer.dragging {
                    border-color: #007bff;
                }

                .dragOverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.5);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 1.2rem;
                    z-index: 1000;
                    pointer-events: none;
                }


                .phoneScreen {
                    width: 100%;
                    height: 90%;
                    background-color: #6286D3; // 핸드폰 화면 배경색
                    border-radius: 20px 5px 0 0;
                    overflow-y: auto;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;

                    &::-webkit-scrollbar {
                        width: 8px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: rgba(193, 193, 193, 0.5);
                        border-radius: 20px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: rgba(245, 245, 245, 0.3);
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-button {
                        display: none;
                    }

                    .chatMessage {
                        display: flex;
                        align-items: flex-end;
                        padding-bottom: 8px;

                        .chatBubble {
                            max-width: 70%; // 버블 크기 제한
                            padding: 10px;
                            border-radius: 10px;
                            background-color: white;
                            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
                            word-wrap: break-word; // 텍스트 자동 줄바꿈

                            .chatImage {
                                max-width: 150px;
                                max-height: 150px;
                                border-radius: 8px;
                                cursor: pointer;
                                transition: transform 0.2s;
                            }

                            .chatImage:hover {
                                transform: scale(1.1);
                            }
                        }

                        .messageTimestamp {
                            font-size: 0.8rem;
                            color: rgba(255, 255, 255, 0.6);
                            margin-left: 8px;
                            display: inline-block;
                            vertical-align: bottom;
                        }
                    }

                    .myMessage {
                        justify-content: flex-end; // 내 메시지는 오른쪽 정렬
                        padding-bottom: 8px;

                        .chatBubble {
                            background-color: #e1ffc7; // 내 메시지 배경색

                            .chatImage {
                                max-width: 150px;
                                max-height: 150px;
                                border-radius: 8px;
                                cursor: pointer;
                                transition: transform 0.2s;
                            }

                            .chatImage:hover {
                                transform: scale(1.1);
                            }
                        }

                        .messageTimestamp {
                            font-size: 0.8rem;
                            color: rgba(255, 255, 255, 0.6);
                            margin-right: 8px;
                            display: inline-block;
                            vertical-align: bottom;
                        }
                    }


                }

                .phoneScreenInput {
                    width: 100%;
                    height: 10%;
                    background-color: #EFEFEF;
                    border-top: 1px solid #ccc;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    box-sizing: border-box;
                    border-radius: 0px 0px 20px 20px;
                    justify-content: center;

                    .phoneScreenFileInputArea {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        background-color: #fff;
                        border-radius: 50%;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                        cursor: pointer;
                        margin-right: 10px;

                        .fileInput {
                            display: none;
                        }

                        .fileUploadButton {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 24px;
                            color: #333;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            cursor: pointer;
                        }
                    }

                    .phoneScreenInputArea {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: white;
                        width: 88%;
                        height: 80%;
                        border-radius: 20px;

                        input {
                            border: none;
                            outline: none;
                            padding: 10px;
                            width: 85%;
                            height: 100%;
                        }

                        .sendButton {
                            flex-shrink: 0;
                            width: 15%;
                            height: 80%;
                            background-image: url('../../assets/icons/sendBtn.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                        }

                    }
                }

            }


        }
    }

}







/* ====================================== 가로 1000px 이하 ====================================== */
@media (max-width: 1000px) {
    .my1v1InquireSection {
        padding-top: 60px;
    }
}





/* ====================================== 가로 600px 이하 ====================================== */
@media (max-width: 600px) {
    .my1v1InquireSection {
        padding: 20px 10px;
        padding-top: 60px;

        .userInquireBody {
    
            .userInquireHeader {
                margin: 0 auto;
                max-width: 400px;
                padding: 0 10px;
            }

            .userInquireChat {
                max-width: 400px;
            }
        }

    }

}


/* ====================================== 가로 500px 이하 ====================================== */
@media (max-width: 500px) {
    .my1v1InquireSection {

        .userInquireBody {
            .userInquireHeader {
                max-width: 340px;
            }

            .userInquireChat {
                max-width: 340px;
            }
        }

    }

}



/* ====================================== 가로 430px 이하 ====================================== */
@media (max-width: 430px) {
    .my1v1InquireSection {
        padding: 0;
        padding-top: 50px;

        .inquireTypeDiv {
            font-size: 15px;
            margin: 10px 0;
        }

        .userInquireBody {
            .userInquireHeader {
                font-size: 14px;

                .userInquireTitleArea {
                    .userInquireTitle {
                        height: 40px;
                    }                    
                }                

                .userInquireQuitArea {
                    width: 100px;
                    height: 100%;

                    .userInquireQuitBtn {
                        height: 34px;
                        width: 90%;
                        border-radius: 26px;
                    }
                }
            }

            .userInquireChat {
                .phoneContainer {
                    .phoneScreen {
                        .phoneScreenInput {
                            .phoneScreenInputArea {
                                font-size: 14px;

                            }
                        }
                    }
                }
            }


            
        }
    }
}