/* 예적금 */
.title{
    padding: 20px 0;
    font-size: 1.2em;
    border-bottom: 2px solid var(--black);
}

/* 옵션 */
.optionCheck {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: relative;

    margin-top: 15px;
    font-size: 12px;
    cursor: pointer;

    .optionChkTitle{
        text-align: center;
        margin-right: 10px;
    }

    .selectedOption {
        padding: 10px;
        width: 300px;
        text-align: center;
        border: 1px solid var(--divider-border); border-radius: 4px;
        background: var(--white); color: var(--main2);
    }
    
    // 셀렉박스 선택시 
    .selected{
        background: var(--main1) !important; color: var(--white);
    }

    // 선택된 옵션
    .selectedChk{
        background: var(--admin-body) !important;
    }

    .optionList {
        position: absolute;
        width: 300px;
        top: 100%;
        border: 1px solid var(--divider-border); border-top: none;
        background: var(--white);
        z-index: 10;
    }

    .optionChk {
        padding: 10px;
        background: var(--white);
        
        cursor: pointer;
        transition: background-color 0.3s;
        
        &:hover {
            background: var(--admin-body);
        }
    }
    
}

/* 상품 정보 */
.topDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    padding: 80px 50px 100px 50px;

    // 은행 이미지 
    .image{
        width: 120px; height: 120px;
        border-radius: 50px;
        float: left;

        img{
            width: 120px; height: 120px;
        }
    }

    // 상품 이름름
    .name{
        width: 100%;
        line-height: 40px;

        .nameOne{
            font-size: 24px; font-weight: 700;
        }
        .nameTwo{
            font-size: 18px; font-weight: 700;
        }

        .nameThree{
            margin-top: 20px;
            height: auto;
            font-size: 1.0em;
            
            span{
                padding: 5px 15px;
                border-radius: 5px; 
                background: var(--font3); color: var(--white);

                &:nth-child(2), &:nth-child(3){
                    margin-left: 15px;
                }
            }
            
        }
    }

    // 금리 
    .rate{
        width: 60%;
        text-align: right;

        .rateOne{
            font-size: 1.7em; font-weight: 700;
            color: var(--red1);
        }
        .rateTwo{
            margin-top: 10px;
        }
    }
}

/* 버튼 */
.btnDiv{
    text-align: right;
    float: right;

    .intobtn, .heartIcon{
        float: left;
    }

    .intobtn, .gotoHomePage, .heartIcon{
        margin-right: 10px;
        font-size: 20px;
        width: 156px; height: 53px;
        background: var(--main2); color: var(--white);
        border: 0;

        &:hover{
            background: var(--main1);
        }

        .heart{
            padding-right: 10px;

            &.active {
                color: var(--red2);
            }
            
            &:active{
                color: var(--red2);
            }
        }
    }
    
}

/* 이자 계산기기 */
.serviceDiv{
    clear: both;
    margin-top: 200px; padding: 0 20px;
    width: 100%; height: 50px; line-height: 45px;
    border: 2px solid var(--main1); border-radius: 10px;

    .downArrowIcon{
        margin-left: 10px;
    }

    .rotated{
        transform: rotate(-180deg);
        transition: 0.4s;
    }

    .uprotated{
        transition: 0.4s;
    }

    .serviceTitle{
        cursor: pointer;
        
        .serviceTwo{
            float: right;
            color: var(--font2);
        }
    }


}

// 이자계산기 open
.serviceDiv.open{
    height: auto;
    transition: 0.4s;
}


/* 상품 상세 내역 */
.detailDiv{
    margin-top: 50px; padding: 40px 50px;
    border-top: 1px solid var(--black);
    background: var(--bg1);

    // 상세정보 Title
    .detailTitle{
        margin-bottom: 20px;
        font-size: 21px;
        color: var(--font1);
    }

    // 상세정보 목록
    ul li{
        padding: 20px 0;

        span{
            font-size: 18px; font-weight: 700;
            color: var(--font1);
        }

        p{ padding: 10px 0 0 10px; }

        .rateTable, .rateCalcTable{
            margin: 10px 0 0 10px;

            td{
                padding: 5px;
                border: 1px solid var(--divider-border);
            }

            thead tr td{
                background: var(--black);
                color: var(--white);
                text-align: center;
            }
        }

        .rateTable{
            width: 100%;
        }
        .rateCalcTable{
            width: 100%;
        }
    
        .mtrtInt, .spclCnd{
            white-space: pre-line;
            line-height: 30px;
        }
    }
}

/* 이자 계산기 로그인 모달창 */
.arrow {
    margin: 0 10px;
}

.modalLogin{
    font-weight: 700;
    color: var(--main1);
    text-decoration-line:underline;
    cursor: pointer;
}


/* 번웅형 768px */
@media (max-width: 768px) {
    .detailSection{
        width: 95%;
    }

    .title{
        padding: 0 0 10px 0;
    }

    .topDiv {
      flex-direction: column;
      padding: 50px 20px;

      .image {
        width: 80px; height: 80px;
          
            img{
                width: 90px;
                height: 80px;
            }

        }
        
        .name {
            text-align: center;
        }

        .rate {
            width: 100%;
            text-align: center;
            font-size: 12px;
            margin-bottom: 10px;
        }
    }
  
    .btnDiv {
      text-align: center;
      float: none;

      .heartIcon, .intobtn{
        width: 32%; height: 40px !important;
        margin-right: 0.5em;
      }

      .gotoHomePage{
        width: 32%; height: 40px !important;
        margin-right: 0px;
      }
    }
  
    .serviceDiv {
      margin-top: 50px;
      font-size: 12px;
      height: 45px; line-height: 40px;

      .serviceTwo {
        float: right;
        text-align: center;
      }
    }
  
    .detailDiv {
        padding: 20px;

        ul li{
            padding: 10px 0;

            span{
                font-size: 13px;
            }

            p{
                font-size: 12px;
            }
        }

        .rateTable, .rateCalcTable {
            width: 90% !important;
            font-size: 1.0em;

            td{
                font-size: 12px;
                padding: 8px;
            }

            thead tr td{
                font-size: 12px;
            }
        }
    }
}
  
/* 번웅형 768px */
@media (max-width: 480px) {
    .title {
        font-size: 1.0em;
    }

    .optionCheck {
        margin-top: 5px;
        width: 100%;

        .optionChkTitle{
            width: 55px;
        }

        .selectedOption{
            width: 100% !important;
            font-size: 11px;
        }

        .optionList {
            width: 100% !important;
        }
    }

    .topDiv {
        padding: 20px 10px;

        .image {
            width: 80px;
            height: 80px;

            img{
                width: 80px;
                height: 80px;
            }
        }

        .name {
            .nameOne {
                font-size: 20px;
            }
            .nameTwo {
                font-size: 16px;
            }
        }

        .rate .rateOne {
            font-size: 1.5em;
        }

    }

    .btnDiv {

        .intobtn, .heartIcon {
            font-size: 0.8em;
            margin-right: 0.2em;
            width: 32%;
            height: 50px;
        }

        .gotoHomePage{
            font-size: 0.8em;
            width: 32%;
            height: 50px;
        }
    }

    .serviceDiv{
        margin-top: 30px;

        .serviceTwo{
            float: right;
        }
    }

    .detailDiv {
        padding: 10px;

        .detailTitle{
            font-size: 1.0em;
        }

        ul li {
            .rateTable, .rateCalcTable {
                width: 95%;

                td{
                    font-size: 12px;
                    padding: 5px;
                }

                thead tr td{
                    font-size: 0.6em;
                }
            }
        }
        
    }
}