.dashboardDiv {
    display: flex;
    flex-direction: column;
    background-color: var(--admin-body);
    width: 100%;
    height: 92%;
    padding: 15px;
    overflow-y: auto;

    .dashboardRow {
        display: flex;
        height: 50%;
        width: 100%;
        

        .dashboardItemArea {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 50%;

            .dashboardItem {
                background-color: var(--white);
                height: 97%;
                width: 98%;

                .dashboardItemHeader {
                    display: flex;
                    width: 100%;
                    height: 15%;
                    border-bottom: 1px solid var(--admin-body);

                    .dashboardItemTitle {
                        display: flex;
                        font-size: 16px;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-left: 10px;
                    }
                    
                }

                /* 대시 보드 주 내용 공간 */
                .dashboardItemBody {
                    display: flex;
                    justify-content: center;
                    overflow: auto;
                    width: 100%;
                    height: 85%;

                    /* 1. 방문자 수 현황 그래프 */

                    /* 2. 일자별 요약 테이블 */
                    .summaryTable {
                        white-space: pre-wrap;
                        width: 100%;
                        border-collapse: collapse;
                        height: 100%;
                        font-size: 14px;

                        th,
                        td {
                            border: 1px solid #ddd;
                            padding: 10px;
                            text-align: center;
                        }

                        th {
                            background-color: #f4f4f4;
                            font-weight: bold;
                        }

                        tbody tr:nth-child(even) {
                            background-color: #f9f9f9; // 줄무늬 효과
                        }

                        tfoot tr {
                            font-weight: bold;
                            background-color: #f4f4f4;
                        }

                        tfoot td {
                            text-align: center;
                        }
                    }

                    /* 3. 신규 회원 리스트 */
                    .newUserList {
                        white-space: pre-wrap;
                        width: 100%;
                        list-style: none;

                        .newUserItem {
                            display: flex;
                            align-items: center;
                            padding: 8px 8px;
                            border-bottom: 1px solid #f5f5f5;

                            &:last-child {
                                border-bottom: none;
                            }

                            .profileImage {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 40px;
                                height: 40px;
                                background: #e0e0e0;
                                border-radius: 50%;
                                margin-right: 16px;

                                img {
                                    width: 80%;
                                    height: 80%;
                                }
                            }

                            .userInfo {
                                flex: 1;

                                .userName {
                                    display: block;
                                    font-size: 14px;
                                    font-weight: bold;
                                    margin-bottom: 4px;
                                }

                                .userEmail {
                                    font-size: 12px;
                                    color: #666;
                                }
                            }

                            .joinDate {
                                padding-right: 15px;
                                font-size: 12px;
                                color: #999;
                            }
                        }
                    }

                    /* 4. 1:1 문의 내역 목록 */
                    .inquiryList {
                        white-space: pre-wrap;
                        height: 100%;
                        width: 100%;
                        list-style: none;

                        .inquiryItem {
                            display: flex;
                            align-items: flex-start;
                            padding: 12px 10px;
                            border-bottom: 1px solid #f5f5f5;

                            &:last-child {
                                border-bottom: none;
                            }

                            .profileImage {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 40px;
                                height: 40px;
                                background: #e0e0e0;
                                border-radius: 50%;
                                margin-right: 16px;

                                img {
                                    width: 80%;
                                    height: 80%;
                                }
                            }

                            .inquiryContent {
                                flex: 1;

                                .inquiryTitle {
                                    font-size: 14px;
                                    font-weight: bold;
                                    margin-bottom: 4px;

                                    .newBadge {
                                        color: var(--white);
                                        font-size: 12px;
                                        padding: 2px 6px;
                                        border-radius: 12px;
                                        margin-left: 8px;                                       
                                    }
                                    .openStatus {
                                        background-color: rgb(0, 86, 179); /* 파란색 배경 */
                                    }
                                    
                                    .closedStatus {
                                        background-color: rgb(211, 211, 211); /* 회색 배경 */
                                        color: rgb(136, 136, 136); /* 어두운 회색 글씨 */
                                    }
                                }

                                .inquiryMeta {
                                    font-size: 12px;
                                    color: #666;

                                    .inquiryDate{
                                        margin-left: 5px;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        @media (max-width: 750px){
            .dashboardItemArea{
                width: 100%; /* 작은 화면에서는 너비를 100%로 확장 */
                height: 50%;
                margin-bottom: 10px; /* 각 아이템 사이 간격 추가 */        
            }
        }

    }
    @media (max-width: 750px) {
        .dashboardRow {
            flex-direction: column; /* 세로 배치 */
            height: auto; /* 자동 높이 조정 */

            .dashboardItemArea {
                width: 100%; /* 각 아이템이 100% 너비를 차지 */
                margin-bottom: 10px; /* 각 아이템 간 간격 추가 */

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}