.accountSettingsSection {
    padding-top: 70px;
    border: 1px solid red;
    height: 50px;
}















/* ====================================== 가로 1000px 이하 ====================================== */
@media (max-width: 1000px) {
    .accountSettingsSection {
        padding-top: 60px;
    }
}




/* ====================================== 가로 430px 이하 ====================================== */
@media (max-width: 430px) {
    .accountSettingsSection{
        padding-top: 50px;
    }
}