/* src/styles/init.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #1a1a1a;
    background-color: #fff;
}


h1 {
    font-size: 3.2em;
    line-height: 1.3;
}

h2 {
    font-size: 2.6em;
    line-height: 1.2;
}

h3 {
    font-size: 1.8em;
    line-height: 1.1;
}



ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 1.0em;
    border: 1px solid #1a1a1a;
    border-radius: 5px;    
    color: #1a1a1a;
    background: none;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;    
    cursor: pointer;
    transition: border-color 0.25s;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}


input {
    background-color: transparent;
    color: black;
}
  
input[type="checkbox"] {
cursor: pointer;
transform: scale(1.4);
appearance: none;
-webkit-appearance: none; /* Safari νΈν™ */
background-color: white;
border: 1px solid #ccc;
width: 16px;
height: 16px;
border-radius: 3px; 
display: flex;
align-items: center;
justify-content: center;  
}


input[type="checkbox"]:checked::after {
content: "β”"; 
font-size: 14px;
color: black;
}



