.EmailInquireMain {
  width: 100%;

  .commonSection {
    width: 100%;

  .topContainer {
      max-width: 750px;
      margin: 0 auto; 
      padding: 20px;
      margin-top: 20px;
      width: 100%;
    
      .title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: left;
      }
    
      .subTitle {
        font-size: 15px;
        color: var(--black);
        margin-bottom: 40px;
        text-align: left;
    
        .link {
          color: var(--main1);
          text-decoration: none;
          font-weight: bold;
    
          &:hover {
            text-decoration: underline;
          }
        }
      }
    
      .divGroup {
        margin-bottom: 15px;
        font-size: 15px;
        width : 100%;

        .error {
          border: 1px solid red;
        }
        
        .errorMsg {
          color: red;
          font-size: 0.7rem;
          margin-top: 5px;
        }
    
        .hintInquiryType {
          color: #a09f9f;
          font-size: 13px;
          margin-top: 5px;
          line-height: 1.5;
        }
    
        .textInput,
        .textArea,
        .selectInput,
        .fileInput {
          width: 50%;
          padding: 10px;
          font-size: 15px;
          border: 1px solid #ddd;
          border-radius: 4px;
          box-sizing: border-box;
        }

        .selectInput {
          cursor: pointer;
        }
    
        .textArea {
          resize: none;
          height: 170px;
          width: 100%;
        }
    
        .hint {
          color: #666;
          font-size: 12px;
          margin-top: 5px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
    
        .fileUploadWrapper {
          display: flex;
          align-items: center;
          gap: 10px;
          flex-wrap: nowrap;
          position: relative;

          .fileInputText {
            padding: 10px;
            font-size: 12px;
            border: 1px solid #ddd;
            border-radius: 4px;
            background-color: #ffffff;
            color: #666;
            box-sizing: border-box;
            width: 50%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .fileIcon {
            position: absolute;
            right: 51%; 
            top: 50%; /* 중앙 */
            transform: translateY(-50%);  /* 중앙 */
            cursor: pointer;
          }       

          .fileButton {
            display: inline-block;
            padding: 7px 3px;
            font-size: 15px;
            font-weight: normal;
            color: var(--main2);
            border: 1px solid var(--main2);
            border-radius: 4px;
            text-align: center;
            cursor: pointer;
            background-color: var(--white);
            transition: all 0.3s ease;
            width: 20%;
            margin: 20px;
    
            &:hover {
              background-color: #eaf4ff;
            }
          }
          .resetButton {
            display: inline-block;
            padding: 7px 3px;
            font-size: 15px;
            font-weight: normal;
            border: 1px solid var(--font3);
            border: 1px solid;
            border-radius: 4px;
            text-align: center;
            cursor: pointer;
            transition: all 0.3s ease;
            width: 15%;
            color: var(--font3);
        
            &:hover {
              background-color: var(--admin-body);
            }
          }        
    
          .fileInput {
            display: none;
          }
        }
      }
    
      .privacyContainer {
        background-color: #f6f6f6;
        padding: 10px;
        border: 1px none #ddd;
        border-radius: 4px;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        line-height: 1.5;
        overflow: hidden;
        text-align: justify;
    
        .checkboxLabel {
          display: flex;
          align-items: center;
          font-size: 12px;
    
          .checkbox {
            margin-right: 5px;
            accent-color: var(--main2);
            transform: scale(0.8);
          }
    
          .required {
            color: var(--red1);
            font-size: 14px;
            margin-left: 5px;
          }
        }
    
        .privacyDetails {
          font-size: 12px;
          color: var(--font2);
          margin-top: 5px;
          padding: 4px;
          word-wrap: break-word;
        }
      }
    
      .submitButton {
        width: 40%;
        padding: 10px;
        font-size: 12px;
        font-weight: bold;
        background-color: var(--main2);
        color: var(--white);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-bottom: 30px;
        margin-top: 30px;
    
        &:hover {
          background-color: var(--main1);
        }
    
        &.disabled {
          background-color: var(--divider-border);
          cursor: not-allowed;
        }
      }
    }
  }
}


/*----------------------------------- 600px 이하 ------------------------------------------*/
@media (max-width: 600px) {
  .EmailInquireMain {
    padding-top: 60px; /* 상단 여백 */
  }

  .textInput,
  .fileInput {
    width: 80% !important; 
  }

  .fileUploadWrapper {
    .fileButton {
      width: 30% !important; /* 버튼 너비 */
      margin: 0 !important;
    }
    .resetButton {
      width: 20% !important; 
    }
  }

  .fileIcon {
    right: 55% !important;
  }

  .privacyContainer {
    .privacyDetails {
      max-height: 110px; /* 고정 높이 */
      overflow-y: auto; /* 스크롤 */
    }
  }

  .subTitle {
    font-size: 13px !important; 
  }

  .hintInquiryType {
    font-size: 12px !important;
  }
}
