.myEmailInquireSection {
    padding-top: 70px;



    .inquireTypeDiv {
        font-size: 17px;
        padding-top: 20px;
        margin: 20px 0;
        color: var(--font1);
        display: flex;
        align-items: center;
        gap: 5px;

        .inquireTypeItem {
            display: flex;
            align-items: center;

            .rightArrowIcon {
                width: 14px;
                height: 10px;
            }

            &:nth-child(3) {
                font-weight: 600;
            }
        }
    }

    .inquireListDiv {
        margin: 30px auto;
        width: 90%;
        max-width: 800px;
        color: var(--black);

        .noInquiriesMessage {
            text-align: center;
            font-size: 16px;
            color: var(--font2);
            margin: 20px 0;
        }

        .inquireList {
            padding: 10px 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 10px;

            .listTopDiv {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;

                .topCategory {
                    font-weight: bold;
                    font-size: 16px;
                    color: var(--main2);
                }

                .topDate {
                    font-size: 14px;
                    color: var(--font2);
                }
            }

            .listContentDiv {
                display: flex;
                border-top: 1px solid var(--divider-border);
                padding-top: 15px;
                font-size: 16px;
                margin-bottom: 10px;

                .contentQ {
                    color: var(--main2);
                    margin-right: 10px;

                    div {
                        font-weight: 600;
                        font-size: 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 3px;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        border: 1px solid var(--bg2);
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    }
                }

                .contentDiv {
                    width: 100%;

                    .inquireTitleDiv {
                        margin-bottom: 10px;

                        .inquireTitle {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }

                    .inquireEmailDiv {
                        margin-bottom: 10px;

                        .inquireEmail {
                            margin-left: 5px;
                        }
                    }

                    .inquireContentDiv {
                        margin-bottom: 15px;

                        .inquireContent {
                            display: block;
                            /* 블록 요소 유지 */
                            white-space: pre-wrap !important;
                            /* 공백과 줄바꿈 원본 그대로 유지 */
                            line-height: 1.6;
                            /* 줄 간격을 조절하여 보기 좋게 */
                        }
                    }

                    .inquireFileDiv {
                        min-height: 100px;
                        display: flex;
                        justify-content: flex-start;
                        margin-right: 24px;
                        .inquireFile {
                            width: 200px;
                            object-fit: contain;
                            cursor: pointer;
                        }
                    }
                }
            }

            .listAnswerDiv {
                margin-top: 20px;
                padding: 15px;
                border: 1px solid var(--admin-body);
                border-radius: 5px;
                background-color: var(--admin-body);

                .answerDiv {
                    .answerTitleDiv {
                        margin-bottom: 10px;

                        .answerTitle {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }

                    .answerContentDiv {
                        .answerContent {

                            white-space: pre-wrap;
                            line-height: 1.6;
                        }
                    }
                    .answerFileDiv {
                        min-height: 100px;
                        display: flex;
                        justify-content: flex-start;
                        margin-right: 24px;
                        .answerFile{
                            width: 200px;
                            object-fit: contain;
                            cursor: pointer;
                        }
                    }

                }

                .answerDate {
                    text-align: right;
                    font-size: 14px;
                    color: var(--font2);
                    margin-top: 10px;
                }
            }

            .btnDiv {
                display: flex;
                justify-content: flex-end;
                margin-top: 10px;

                .deleteBtn {
                    background-color: var(--main2);
                    color: var(--white);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80px;
                    height: 40px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--main1);
                    }
                }
            }
        }
    }
}

















/* ====================================== 가로 1000px 이하 ====================================== */
@media (max-width: 1000px) {
    .myEmailInquireSection {
        padding-top: 60px;
    }
}


/* ====================================== 가로 600px 이하 ====================================== */
@media (max-width: 600px) {

    .myEmailInquireSection {
        padding: 20px 10px;
        padding-top: 60px;
    }
}



/* ====================================== 가로 430px 이하 ====================================== */
@media (max-width: 430px) {
    .myEmailInquireSection {
        padding: 0;
        padding-top: 50px;

        
        .inquireTypeDiv {
            font-size: 15px;
            margin: 10px 0;
        }


        .inquireListDiv {
            margin: 20px auto;
            font-size: 15px;

            .inquireList {
                padding: 10px;

                .listContentDiv {
                    font-size: 15px;

                    .contentQ {
                        margin-right: 7px;
                        
                    }
                    
                    .contentDiv {
                        .inquireTitleDiv {
                            .inquireTitle {
                                font-size: 15px;
                            }
                        }
                    }

                    .listAnswerDiv {
                        padding: 10px;
                    }
                }

                .listAnswerDiv {
                    .answerDiv {
                        .answerTitleDiv {
                            .answerTitle {
                                font-size: 15px;
                            }
                        }
                    }
                }

                .btnDiv {
                    .deleteBtn {
                        height: 34px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}