.myInfoSection {
    padding-top: 70px;
}
  




/* ====================================== 가로 1000px 이하 ====================================== */
@media (max-width: 1000px) {
    .myInfoSection {
        padding-top: 60px;
    }
}




/* ====================================== 가로 430px 이하 ====================================== */
@media (max-width: 430px) {
    .myInfoSection{
        padding-top: 50px;
    }
}