.logoDiv {
    width: 244px;
    max-height: 60px;
    object-fit: contain;
    
    img {
        max-width: 200px;
        cursor: pointer;
    }
}

.mainNav {
    margin-bottom: 10px;
    max-width: 360px;
    font-size: 18px;
    font-weight: 700;

    .mainMenuList {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainMenuItem {
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }



}

.userNav {
    width: 244px;
    margin-bottom: 12px;
    max-width: 260px;

    .userMenuList {
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .userMenuItem {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}