/* src/components/Header/Header.module.scss */

.logoDiv {
    width: 244px;
    max-height: 60px;
    
    img {
        object-fit: contain;
        max-width: 200px;
        cursor: pointer;
    }
}

.mainNav {
    margin-bottom: 10px;
    max-width: 360px;
    font-size: 18px;
    font-weight: 700;

    .mainMenuList {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainMenuItem {
        width: 120px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative; // 드롭다운 위치를 위해 필요

        .headerDownArrow {
            width: 12px;
            height: 12px;
            margin: 5px 0 0 10px;
        }   
           
        .HeaderDropdownMenu {
            color: var(--font1);
            font-size: 16px;
            position: absolute;
            top: 30px; 
            left: -5px; 
            width: 120px;
            background-color: var(--white);
            border-radius: 10px;
            overflow: hidden; 
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
            
            .HeaderDropdownItem {
                padding: 8px;
                cursor: pointer;
                text-align: center;
                
                &:hover {
                    color: var(--white);
                    background-color: var(--main1);
                }
            }
        }        
    }



}

.userNav {
    width: 244px;
    margin-bottom: 12px;
    max-width: 260px;

    .userMenuList {
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .userMenuItem {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}





.mobileMenuIconDiv {
    display: none;
}








/* ====================================== 가로 1000px 이하 ====================================== */

@media (max-width: 1000px) {
    header {
        height: 60px;
        padding: 0px 5%;
    }

    .mainNav,
    .userNav {
        display: none; /* 숨기기 */
    }

    .logoDiv {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
            object-fit: contain;
            max-width: 130px;
            cursor: pointer;
        }        
    }

    .mobileMenuIconDiv {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        img {
            object-fit: contain;
            cursor: pointer;
            max-width: 26px;
        }
    }

    .mobileOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 2100; 
        display: flex;
        justify-content: flex-start; // 메뉴를 화면 왼쪽에 위치
    }
    
    .mobileSideNav {
        width: 50%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
        z-index: 2500; // 메뉴가 오버레이 위에 나타나도록 설정

    }
}




/* ====================================== 가로 400px 이하 ====================================== */
@media (max-width: 430px) {
    .mobileMenuIconDiv {
    
        img {
            max-width: 26px;
        }
    }

    .mobileSideNav {
        width: 77%;

        .mobileSideHeader {
            height: 16%;
            border: 1px solid red;

        }

        .mobileSideMain {
            height: 58%;
            border: 1px solid green;
        }







    }

}
