.listSection {
  font-size: 16px;
  padding-top: 50px;

  .listTitleDiv {
    font-size: 20px;
    font-weight: 600;
  }

  .filterDiv {
    margin-top: 5px;
    border-top: 1px solid var(--font1);
    border-bottom: 1px solid var(--font1);

    .commitFilterDiv {
      padding: 10px;
      background: var(--bg2);

      .bankSelectDiv {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        .bank {
          font-size: 18px;
          font-weight: 500;
        }

        .bankSelect {
          min-width: 200px;
          height: 40px;
          padding: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f9f9f9;
          cursor: pointer;

          option {
            cursor: pointer;
          }
        }
      }
    }
  }



}