/* src/pages/ProductInsListPage/ProductInsListPage.scss */

.listSection {
  font-size: 16px;
  padding-top: 50px;

  .listTitleDiv {
    font-size: 20px;
    font-weight: 600;
  }

  .filterDiv {
    margin-top: 5px;
    border-top: 1px solid var(--font1);
    border-bottom: 1px solid var(--font1);

    .commonFilterDiv {
      padding: 10px;
      background: var(--bg2);
      display: flex;
      justify-content: flex-start;
      // align-items: center;
      align-items: flex-start;
      gap: 15px;
      flex-wrap: wrap;

      .bankSelectContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        .bank {
          font-size: 18px;
          font-weight: 500;
        }

        .bankSelect {
          min-width: 200px;
          height: 40px;
          padding: 5px;
          border: 1px solid var(--divider-border);
          border-radius: 5px;
          background-color: var(--white);
          cursor: pointer;

          option {
            cursor: pointer;
          }
        }
      }

      .bankSelectedContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        max-width: 100%;
        flex-wrap: wrap;

        .bankSelectedItemDiv {
          height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 8px;
          border: 1px solid var(--black);
          border-radius: 5px;
          background: var(--white);
          cursor: pointer;
          gap: 8px;
          width: 120px;
          font-size: 15px;

          .selectedBankItem {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .bankSelectedBtn {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }

    .nonMemberFilterContainer {
      margin: 50px 0;
      padding: 10px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--main2);
      color: var(--white);
      font-size: 28px;
      font-weight: 600;

      .nonMemberMessage {
        .click {
          text-decoration: underline;
          margin-left: 10px;
          cursor: pointer;
        }

        .loginLink {
          text-decoration: underline;
          margin-left: 10px;
          cursor: pointer;
          color: var(--main1);
        }
      }
    }

    .memberFilterContainer {
      margin: 30px 0;
      border: 1px solid var(--divider-border);
      padding: 15px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    
      .memberFilterItemDiv {
        width: 46%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    
        .memberFilterItem {
          font-size: 18px;
          font-weight: 600;
          min-width: 120px;
        }

        .memberFilterInput {
          border: 1px solid var(--divider-border);
          border-radius: 5px;
          padding: 0 10px;
          font-size: 14px;
          color: var(--font1);
          cursor: pointer;
          height: 40px;
          flex: 1;
          min-width: 0;
        }

        .noPointer {
          cursor: auto;
        }
    
    
        .toggleButtonGroup {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 15px;
          flex: 1;
          
          .toggleButton {
            width: 48%;
            border: 1px solid var(--divider-border);
            flex: 1;
            background-color: var(--white);
            cursor: pointer;
            text-align: center;
            height: 40px;
          }
          
          .toggleButton:first-child {
            border-radius: 5px 0 0 5px;
          }

          .toggleButton:last-child {
            border-radius: 0 5px 5px 0;
            border-left: 0px;
          }

          .active {
            background-color: var(--main2);
            color: var(--white);
            border: 0px;
          }
        }
      }
    }
  }/* filterDiv */


  .rateStandard {
    margin: 20px 0 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    color: var(--font2);
  
    .standardItem {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &.active {
        font-weight: 600;
        color: var(--font1);
      }
    }

    :nth-child(2) {
      cursor: default;
    }
  }
  





}


/* ====================================== 가로 900px 이하 ====================================== */
@media (max-width: 900px) {
  .listSection {
    .filterDiv {
      .nonMemberFilterContainer {
        font-size: 24px;
      }

      .memberFilterContainer {
        .memberFilterItemDiv {
          .memberFilterItem {
            font-size: 16px;
            min-width: 110px;

          }
        } 
      }
    }
  }
}


/* ====================================== 가로 700px 이하 ====================================== */
@media (max-width: 700px) {
  .listSection {
    .filterDiv {
      .nonMemberFilterContainer {
        font-size: 22px;
      }

      .memberFilterContainer {
        .memberFilterItemDiv {
          gap: 10px;

          .memberFilterItem {
            font-size: 14px;
            min-width: 90px;
          }

          .toggleButtonGroup {
            font-size: 14px;
          }
        } 
      }
    }
  }
}

/* ====================================== 가로 600px 이하 ====================================== */
@media (max-width: 600px) {
  .listSection {
    padding: 20px 10px;

    .listTitleDiv {
      font-size: 18px;
    }

    .filterDiv {
      .commonFilterDiv {
        flex-direction: column;
        gap: 0;

        .bankSelectContainer {
          .bank {
            font-size: 16px;
          }

          .bankSelect {
            min-width: 170px;
          }
        }


        .bankSelectedContainer {

          &.hasItems {
            margin-top: 10px; /* 선택된 은행이 있을 때 */
          }

          .bankSelectedItemDiv {
            width: 110px;

            .selectedBankItem {
              font-size: 14px;
            }
          } 
        } 
      } 


      .nonMemberFilterContainer {
        font-size: 20px;

        .nonMemberMessage {
          text-align: center;
        }
      }
      .memberFilterContainer {
        .memberFilterItemDiv {
          width: 100%;
          gap: 10px;

          .memberFilterItem {
            min-width: 90px;
          }

          .toggleButtonGroup {
            font-size: 14px;
          }
        } 
      }
    }
  }
}