/* src/pages/MyDepositPage/MyDepositPage.module.scss */

.favoriteSection {
    padding-top: 70px;
    .favoriteListDiv {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .favoriteList {
            border: 1px solid var(--font2);
            border-radius: 3px;
            height: 100px;
            position: relative;
            display: flex;
            justify-content: space-between;

            .check {
                position: absolute;
                top: 7px;
                left: 7px;
            }

            .favoriteLogoDiv {
                width: 140px;
                padding-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                .favoriteLogoImg {
                    object-fit: contain;
                    width: 70px
                }
            }

            .favoriteInfoDiv {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: var(--black);
                padding: 0 10px;

                .favoriteBankProDiv {
                    .favoriteBank {
                        font-weight: 600;
                    }
                }

                .favoriteHighestRateDiv,
                .favoriteSBaseRateDiv {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 5px;
                }

                .favoriteHighestRateDiv {
                    color: var(--red2);
                }

                .favoriteHighestRatePer,
                .favoriteBaseRatePer {
                    width: 50px;
                    display: flex;
                    justify-content: flex-end;
                }

                .spcl_rate, .basic_rate {
                    margin-right: 3px;
                }
            }
        }
    }
}

.heartIcon {
    color: var(--red2);
    font-size: 26px;
}

.searchDiv {
    // border: 1px solid blue;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;

    input[type="checkbox"] {
        transform: scale(1.4);
        margin-right: 20px;
    }

    button {
        font-size: 15px;
        height: 40px;
    }

}



/* ====================================== 가로 1000px 이하 ====================================== */
@media (max-width: 1000px) {
    .favoriteSection {
        padding-top: 60px;
    }
}








/* ====================================== 가로 600px 이하 ====================================== */
@media (max-width: 600px) {
    .favoriteSection {
        padding: 20px 10px;
        padding-top: 60px;
        width: 84%;
    }
}



/* ====================================== 가로 430px 이하 ====================================== */
@media (max-width: 430px) {
    .favoriteSection {
        padding-top: 50px;
    }
}

