footer {
    width: 100%;
    height: auto;
    /* 높이를 콘텐츠에 따라 조정 */
    min-height: 160px;
    /* 최소 높이 보장 */
    padding: 20px 10%;
    background: #F6F7FA;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font1);



    .footerContainer {
        width: 100%;
        height: auto;
        min-height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;

        .footerInfo {
            height: 100%;
            width: 60%;

            .corName {
                font-weight: bold;
                width: 380px;
                margin-bottom: 5px;
                letter-spacing: 3px;
                font-size: 14px;
            }

            .corAddress {
                width: 380px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .footerDivider {
                    display: flex;
                    align-items: center;
                }

                .addressTitle {
                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span {
                            font-weight: 700;
                            color: #927663;
                        }

                        .noneSpan {
                            visibility: hidden;
                        }
                    }
                }

                .firstRow {
                    margin-bottom: 3px;
                }

            }

            .corContact {
                margin-top: 15px;
                // width: 82%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 7px;

                    .contactTitle {
                        font-weight: 700;
                        color: #927663;
                    }
                }
            }

            .corRight {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                font-size: 11px;
            }
        }



        .footerIcon {
            height: 100%;
            flex: 1; // footerInfo 제외 나머지 footerContainer 전체
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            gap: 10px;
            padding: 10px;

            .iconSvg {
                width: 40px;
                aspect-ratio: 1 / 1;
                /* 1:1 비율 */
                object-fit: contain;
                cursor: pointer;
            }
        }
    }
}


// 가로 1100px 보다 작을 때
// .corContact flex-direction: column;
// .corContact 안의 .footerDivider 는 display: none;

@media (max-width: 1100px) {
    .footerContainer {
        .footerInfo,
        .footerIcon {
            width: 100%;  
        }

        .footerInfo {

            .corContact {
                flex-direction: column;
                align-items: baseline !important;
                margin: 20px;

                .footerDivider {
                    display: none;
                    width: 0;
                    height: 0;
                }
            }
        }

        .footerIcon {
            padding: 10px 0;
            justify-content: flex-start;
        }
    }
}


@media (max-width: 780px) {
    .footerContainer {
        flex-direction: column;
        
        width: 100% !important;

        .footerInfo,
        .footerIcon {
            width: 100%;
        }

        .footerInfo {
            
            padding: 0 20px;
            width: 100% !important;

            .corContact {
                flex-direction: column;
                align-items: flex-start;


                .footerDivider {
                    display: none;
                    width: 0;
                    height: 0;

                }
            }
        }

        .footerIcon {
            margin-top: 20px;
            padding: 10px 0;
            justify-content: flex-start;
        }

        .corRight{
            margin: 20px 0;
        }
    }
}


@media (max-width: 480px) {
    .footerContainer {
        width: 100% !important;
        gap: 7px;

        .footerInfo{
            padding: 0 20px;
            width: 100% !important;

            .corName {
                width: 100% !important;
    
            }
            
            .corAddress {
                width: 100% !important;
            }

            .corContact{
                margin: 0;
                align-items: baseline !important;
            }

            .corRight{
                margin: 20px 0;
                gap: 25px !important;

                .rightText{
                    padding: 0 !important;
                    width: max-content !important;
                }
            }
        }

    }
}