.adminHeader {
    position: relative;
    width: 100%;
    height: 8%;
    border-bottom: 1px solid var(--divider-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px 5px 30px;

    .adminHeaderComponent {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;


        .adminHeaderTitle {
            color: var(--font1);
            font-size: 20px;
            font-weight: 700;
        }

        .adminHeaderMenuBar {
            display: flex;

            .adminButton {
                border-style: none;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    background-color: #f0f0f0;
                    border-radius: 4px;
                }
            }

            @media (min-width: 1001px) {
                display: none;
                width: 0;
                height: 0;
            }
        }

        .adminActions {
            position: absolute; /* 위치 지정 */
            right: 200px; /* 기본 오른쪽 위치 */
        
            @media (max-width: 600px) {
                right: 100px; /* 화면 너비 600px 이하일 때 오른쪽으로 조정 */
            }
        
            .depositButton,
            .installButton {
                width: 80px;
                height: 25px;
                cursor: pointer;
                color: var(--font1);
                font-size: 13px;
                border: 1.7px solid #e6e6e6;
                background-color: white;
                border-radius: 7px;
        
                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }        

        .adminHeaderLogout {
            width: 100px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: var(--font1);
            font-size: 12px;
            border: 1px solid #e6e6e6;

            @media (max-width: 1000px) {
                display: none;
            }
        }
    }

    .adminSideNav {
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        /* 메뉴 너비 */
        height: 100vh;
        /* 전체 화면 높이 */
        background-color: #fff;
        /* 흰색 배경 */
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        /* 그림자 효과 */
        z-index: 100;
        /* 메뉴가 위로 오도록 설정 */
        transform: translateX(-100%);
        /* 초기 상태에서 숨김 */
        transition: transform 0.3s ease-in-out;
        /* 애니메이션 효과 */

        &.open {
            transform: translateX(0);
        }

        .sideNavContent {
            padding: 20px;

            .userInfo {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                }

                span {
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            .menuList {
                list-style: none;
                padding: 0;

                li {
                    margin-bottom: 15px;
                    font-size: 16px;
                    cursor: pointer;

                    &:hover {
                        color: #007bff;
                    }
                }
            }
        }
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); /* 검은 투명 배경 */
        z-index: 99; /* SideNav보다 뒤로 설정 */
    }
}