// src/components/MyNav/MyNav.module.scss

.myNav {
    height: 70px;
    border-bottom: 1px solid #ccc;
    color: #333;
    padding: 10px 5%;
    display: flex;    
    justify-content: center;
    align-items: center;    
    
    font-size: 17px;
    font-weight: 700;

    .myMenuList {
        max-width: 360px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .myMenuItem {
            width: 120px;
            height: 23px;
            line-height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative; // 드롭다운 위치를 위해 필요

            .myNavDownArrow {
                width: 12px;
                height: 12px;
                margin: 5px 0 0 10px;
            }

            .dropdownMenu {
                position: absolute;
                top: 30px; //간격
                left: 10px; // 왼쪽으로 이동
                width: 130px;
                background-color: #fbfbfb;
                border: 2px solid #BBBBBB;
                border-radius: 10px; //둥글게
                overflow: hidden; //벗어나지않게
            }

            .dropdownItem {
                padding: 8px;
                cursor: pointer;
                text-align: center;

                &:hover {
                    background-color: #A5D8F5;
                }
            } 
        }
    }
}