.MyWithdrawSection {
    width: 60%; /* 로그인 폼 너비를 60%로 설정 */
    margin: 100px auto;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR';
    .MyWithdraw {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .title {
            display: inline-block;
            p {
                font-weight: normal;
                letter-spacing: .1rem;
                margin-top: 8px;
            }
        }
        .MyWithdrawForm {
            width: 100%;
            .tagBox {
                display: flex;
                border-bottom: 1.5px solid var(--black);
                margin-top: 3rem;
                width: 100%;
                position: relative;
                align-items: center;
                flex-direction: row; /* 필드를 세로로 배치 */
                border-bottom: 2px solid var(--black);
                transition: border-color 0.3s;
                &:first-child {
                    margin-top: 5rem;
                }
                input {
                    border: none;
                    font-size: 16px;
                    width: 100%;
                    box-sizing: border-box;
                    outline: none;
                    margin-bottom: 2px;
                }
                .tagName {
                    width: 21rem;
                    text-align: left;
                    padding-bottom: 2px;
                    font-weight: bold;
                }
                .myData {
                    width: 28rem;
                    padding-bottom: 2px;
                }
            }
            .passwordError{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                margin-bottom: 2.5rem;
                color: var(--red2);
                visibility: hidden;
            }
            .checkBox {
                .titletext {
                    padding: 12px 0;
                }
                .checkValue {
                    label {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 10px;
                        input {
                            margin-top: 3px;
                            margin-right: 12px;
                        }
                        p {
                            letter-spacing: .1rem;
                        }
                    }
                }
                hr {
                    height: 3px;
                    background-color: var(--black);
                    margin-bottom: 8px;
                }
                .essentialCheck {
                    display: flex;
                    margin: 1rem 0;
                    label {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        input {
                            margin-top: 3px;
                            margin-right: 12px;
                        }
                        p {
                            letter-spacing: .1rem;
                        }
                    }
                    .withdrawButton {
                        width: 7rem;
                        padding: 5px 15px;
                        background-color: var(--red1);
                        border: none;
                        color: var(--white);
                        transition: background-color 0.3s;
                        &:hover {
                            background-color: var(--red2);
                        }
                    }
                }
                .errorText {
                    display: flex;
                    justify-content: center;
                    margin: 1.3rem;
                    color: var(--red2);
                    font-weight: bold;
                    letter-spacing: .1rem;
                    visibility: hidden;
                }
            }
        }
        
    }
}

/* ====================================== 가로 1050px 이하 ====================================== */
@media (max-width: 1050px) {
    .MyWithdrawSection {
        width: 70%;
        padding-top: 10px !important;
    }
    .MyWithdrawForm {
        .tagBox {
            flex-direction: column !important; /* 세로로 정렬 */
            .tagName {
                width: 100% !important; 
                padding-bottom: 15px !important;
            }
            .myData {
                width: 100% !important; 
                padding: 10px; 
            }
        }
        .checkBox {
            .checkValue {
                label {
                    flex-direction: column !important; /* 체크박스와 텍스트를 세로로 정렬 */
                    input {
                        margin-bottom: 7px; /* 체크박스와 텍스트 사이 간격 */
                    }
                    h4 {
                        padding: 25px;
                        margin-top: -53px;
                    }
                    p {
                        font-size: 15px;
                        margin-bottom: 20px;
                        margin-top: -10px;
                        padding: 3px;
                    }
                }
            }
            .essentialCheck {
                flex-direction: column !important;
                label {
                    flex-direction: column !important;
                    
                    input {
                        margin-bottom: 7px;
                    }
                    h4 {
                        padding: 25px;
                        margin-top: -53px;
                    }
                    p {
                        font-size: 15px;
                        margin-bottom: 20px;
                        margin-top: -10px;
                        padding: 3px;
                    }
                }
                .withdrawButton {
                    margin-top: 20px !important; /* 간격 추가 */
                    margin-left: auto; 
                    margin-right: auto; 
                }
            }
        }
    }
}




/* ====================================== 가로 500px 이하 ====================================== */
@media (max-width: 500px) {
    .MyWithdrawSection{
        width: 100% !important;
        padding-top: 50px;
    }
}