/* src/index.css */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  min-width: 320px;
  min-height: 100vh;
}


/* 모든 페이지는 <header>, <main>, <footer> 세 영역으로 이루어짐*/

/* <header> */
header {
  height: 90px;
  border-bottom: 1px solid var(--divider-border);
  color: var(--font1);
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* </header> */


/* <main> */
/* <div className="container"> */
section {
  padding: 10px 5%;
  max-width: 1280px;
  margin: 0 auto;
  border: 1px solid red;
}


/* </container> */
/* </main> */


/* <footer> */





/* 라이트 모드일 때 스타일 */
/* @media (prefers-color-scheme: light) { } */
