/* src/pages/HomePage/HomePage.module.scss */

.homeBody {
    height: auto; /* 콘텐츠 높이에 따라 확장 */
    overflow-y: hidden; /* 세로 스크롤 활성화 */
}

.homeMain {
    padding: 0;
    width: 100%;
    // min-height: 100vh;
    // height: auto;
    // overflow-y: auto;
}

.homeMainDiv {
    position: relative;
    width: 100%;
    height: 1800px;
    background-image: url('src/assets/images/homePageBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 250px;

    .homeTitle {
        font-size: 4rem;
        font-weight: 700;
        color: var(--black);
        text-align: center;

        .titleBlue {
            color: var(--main1);
        }
    }
}

.bankScatter {
    position: relative;
    width: 100%;
    height: 764px; /* 페이지 높이 */
    text-align: center;
    transition: all 0.5s ease-in-out;

    .scatterText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        color: #555;
        transition: opacity 0.5s ease-in-out;
    }

    img {
        position: absolute;
        width: 200px; /* 각 은행 이미지의 가로 크기 */
        height: auto;
        transition: all 0.5s ease-in-out;
    }

    .scatterKookmin {
        top: calc((66 / 764) * 100%);
        left: calc((150 / 1200) * 100%);
    }

    .scatterToss {
        top: calc((80 / 764) * 100%);
        left: calc((543 / 1200) * 100%);
    }

    .scatterKaKao {
        top: calc((190 / 764) * 100%);
        left: calc((818 / 1200) * 100%);
    }

    .scatterNonghyup {
        top: calc((472 / 764) * 100%);
        left: calc((774 / 1200) * 100%);
    }

    .scatterHana {
        top: calc((600 / 764) * 100%);
        left: calc((609 / 1200) * 100%);
    }

    .scatterWoori {
        top: calc((500 / 764) * 100%);
        left: calc((222 / 1200) * 100%);
    }

    .scatterShinhan {
        top: calc((280 / 764) * 100%);
        left: calc((80 / 1200) * 100%);
    }

    &.collapsed {
        .scatterKookmin {
            top: calc(50% + 40px); 
            left: calc(35% - 20px);
        }

        .scatterToss {
            top: calc(45% + 20px); 
            left: calc(43% + 20px);
        }

        .scatterKaKao {
            top: calc(60% - 30px); 
            left: calc(55% - 20px);
        }

        .scatterNonghyup {
            top: calc(75% - 80px);
            left: calc(50% + 40px);
        }

        .scatterHana {
            top: calc(85% - 50px); 
            left: calc(50% + 10px);
        }

        .scatterWoori {
            top: calc(85% - 30px); 
            left: calc(40% - 20px);
        }

        .scatterShinhan {
            top: calc(65% + 30px); /* 적당히 중앙으로 이동 */
            left: calc(30% - 30px);
        }
    }
}



.seeTogether {
    height: 764px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    transition: opacity 0.5s ease-in-out;

    &.hidden {
        opacity: 0.3;
    }

    &.visible {
        opacity: 1;
    }
}

.phoneScroll {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

    img {
        transition: width 0.5s ease-in-out;
        width: 70%; /* 처음 부분적으로 보이는 경우 크기 */
    }

    &.partial {
        img {
            width: 80%;
            transform: translateY(-100px); /* "한 번에 확인" 글자를 덮는 효과 */
            opacity: 0.7;
        }
    }

    &.full {
        img {
            width: 30%; /* 폰 전체가 나타나면 크기 줄이기 */
            transform: translateY(0); /* 이미지가 완전히 노출 */
            opacity: 1;
        }
    }
}

.homeSection {
    padding: 20px 30px;
    padding-top: 50px;
    background-color: #fff;

    .divTitle {
        margin-top: 30px;
        font-size: 26px;
        font-weight: 600;
    }

    .productLinkDiv {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .depositLinkDiv, .installmentLinkDiv {
            width: 48%;
            max-width: 400px;
            height: 400px;
        }
        
        .depositLinkDiv {
            width: 100%;
            padding: 20px;
            border: 1px solid #0085E4;
            border-radius: 20px;
            background: #0085E4;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .depositLinkTitle {
                font-size: 24px;
                text-align: center;
                color: var(--white);
            }

            .depositLinkImgDiv {
                margin-top: 10px;
                aspect-ratio: 1 / 1;
                width: 200px;
                text-align: center;
                
                .depositLinkImg {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .depositLinkBtn {
                font-size: 20px;
                width: 250px;
                height: 70px;
                border: 1px solid #1A91E7;
                border-radius: 10px;
                background: #1A91E7;
                color: var(--white);
                text-align: center;

                &:hover {
                    background-color: #339DE9;
                    border: 1px solid  #339DE9;
                }
            }
        }

        .installmentLinkDiv {
            width: 100%;
            padding: 20px;
            border: 1px solid #5C44F3;
            border-radius: 20px;
            background: #5C44F3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .installmentLinkTitle {
                font-size: 24px;
                text-align: center;
                color: var(--white);
            }

            .installmentLinkImgDiv {
                margin-top: 10px;
                aspect-ratio: 1 / 1;
                width: 200px;
                text-align: center;

                .installmentLinkImg {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .installmentLinkBtn {
                font-size: 20px;
                width: 250px;
                height: 70px;
                border: 1px solid #6D57F4;
                border-radius: 10px;
                background: #6D57F4;
                color: var(--white);
                text-align: center;

                &:hover {
                    background-color: #7D69F5;
                    border: 1px solid  #7D69F5;
                }
            }
        }
    }

}