/* 모달 창 닫기 */
.compareModal {
    display: flex !important;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0; top: 0;

    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000 !important;
  }

.compareModalContent {
    padding: 25px;
    width: 90%; max-width: 800px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--white);

    /* title */
    .mainTitle {
      margin-bottom: 20px; padding-bottom: 20px;
      text-align: left;
      font-size: 23px; font-weight: bold;
      border-bottom: 2px solid var(--black);
    }


    /* 체크박스 */
    .bankListWrapper {
      display: flex;
      align-items: center;
      justify-content: end;
      flex-direction: column;

      position: relative;
      width: 100%;
    
      // 스크롤 버튼 
      .scrollButtonLeft,
      .scrollButtonRight {
        position: absolute;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 100;
      }

      .scrollButtonLeft {
        left: 10px;
      }

      .scrollButtonRight {
        right: 10px;
      }
  
      /* 은행 체크박스 */
      .bankList {
        display: flex;
        flex-direction: row;
        gap: 10px;

        max-width: 90%;
        font-size: 15px;
        overflow-x: hidden;

        .bank {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        // label
        .checkboxContainer {
          display: flex;
          align-items: center;
          width: max-content;
          cursor: pointer;

          // input
          .checkbox {
            display: none;
          }

          // 체크 false
          .nonChecked{
            padding: 5px 10px;
            background: var(--bg2); color: var(--black);
            border-radius: 10px;
            transition: 0.4s;
          }

          // 체크 true
          .checked{
            padding: 5px 10px;
            color: var(--white); background: var(--main2);
            border-radius: 10px;
            transition: 0.4s;
          }
        }
      }
    }


    /* 검색창 */
    .search{
      position: relative;

      .inputSearch{
        margin-top: 30px;
        width: 100%; padding: 5px 10px;
        border: 1px solid var(--black); border-radius: 5px;
        outline: none;

        &:focus{
          border: 1px solid var(--main2);
          transition: 0.4s;
        }
      }

      img{
        position: absolute;
        top: 50%; right: 0;

        padding: 5px 10px;
        width: 40px;
      }
    }

    /* 정렬 */
    .listTitle{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px 0 10px 0;

      .sort{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;

        img{
          width: 1px;
        }

        .sortSpcl, .sortBasic{
          align-items: end;
          font-size: 13px;
          cursor: pointer;

          &:hover{
            color: var(--font4);
          }

        }

        .sortSelect{
          font-weight: bold;

          &:hover{
            color: var(--black) !important;
          }
        }
      }
    }


    /* 상품 리스트 */
    .list{
      height: 300px;
      overflow-y: auto;
      border-bottom: 1px solid var(--divider-border);

      .selected{
        background: var(--bg2) !important;
      }

      // 상품 박스 
      .product{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        background: var(--white);
        border-bottom: 1px solid var(--divider-border);
        padding: 10px 15px;
        cursor: pointer;

        // 상품명
        .productbox{
          display: flex;
          flex-direction: row;
          align-items: center;

          .bankLogo{
            width: 30px; height: 30px;
            margin-right: 10px;
          }

          .productText {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .bankName, .productName {
              display: block;
              font-size: 14px;
              margin-left: 10px;
            }

            .bankName{
              width: 100px;
            }
          }
        }
        

        // 금리 
        .rate{
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 5px;
          font-size: 12px;

          .spclrate{
            color: var(--red1);
          }
        }

        &:hover{
          background: var(--bg2);
        }


      }
    }

    /* 추가 상품 */
    .addPrd{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;

      margin-top: 10px;
      padding: 20px;
      background: var(--white);

      .addProduct{
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 10px;
        background: var(--admin-body);
        border-radius: 10px;

        .productText{
          margin-left: 10px;
        }

        .deleteBtn{
          cursor: pointer;
          margin: 0 8px;

          &:hover{
            color: var(--red1);
          }
        }

        .bankLogo{
          width: 30px; height: 30px;
        }

        .productText{
          font-size: 12px;
        }

      }
    }
    
    /* 버튼 컨테이너 */
    .buttonContainer {
      clear: both;
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;

      // 확인 버튼
      .compareButton {
        flex: 1;
        padding: 12px;
        border: none; border-radius: 5px;
        font-size: 16px; font-weight: bold;
        background-color: var(--main2); color: var(--white);
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: var(--main1);
        }
      }
      
      // 취소 버튼
      .cancelButton {
        flex: 1;
        padding: 12px;
        border: none; border-radius: 5px;
        font-size: 16px; font-weight: bold;
        background-color: var(--divider-border); color: var(--black);
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: #aaa; 
        }
      }
    }
}
  
/* 반응형 768px */
@media (max-width: 768px) {
    .compareModalContent{
      margin: 50px 0;
      width: 100%;

      // 이름 
      .mainTitle{
        margin: 0 0 10px 0; padding: 10px;
        font-size: 15px !important;
      }

      // 체크박스 
      .bankList{
        width: 80%;
      }

      // 검색창 
      .search{
        margin-top: 20px;
      }

      // 상품 박스 
      .product{
        font-size: 15px;

        .bankLogo{
          margin: 0 !important;
        }

        .productText{
          gap: 0 !important;
          
          .bankName{
            margin: 0 !important;
          }
          
          .productName{
            margin: 0 !important;
            font-size: 12px !important;
          }
        }
      }
    }
}


/* 반응형 480px */
@media (max-width: 480px) {
  // 체크박스
  .bankList {
      width: 80%;
  }

  // 제목
  .bankName{
    font-size: 10px !important;
  }
  
  // 상품 추가 
  .addPrd{
    overflow-x: auto;
  
    .addProduct{
      width: max-content;
      height: 35px;
  
      .productText{
        width: max-content;
      }
    }
  }
}

/* 반응형 높이 750px */
@media (max-height: 750px) {
  .list{
    height: 180px !important;
  }

}