//Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

// 공통 스타일
body {
  font-family: 'Noto Sans KR', sans-serif;
}

// 컨테이너 스타일
/*
.container {
  border: 1px solid blue;
}
*/

//캘린더 스타일
.calendar {
  font-size: 0.9em;
  width: 80%;
  height: auto;
  margin: 20px auto;
}

//일요일과 토요일
.sunday {
  background-color: #EFFBFB !important;
  color: black !important;
}

.saturday {
  background-color: #EFFBFB !important;
  color: black !important;
}

//오른쪽 상단 날짜글씨
.title {
  font-size: 1.3rem !important;
  font-weight: 500 !important;
  text-align: center !important;
  color: black !important;
  margin: 0 !important;
}
